Bandana Deo

In [1]:
# Importing panda
import pandas as pd 

# storing csv file path in variable
path = "Resources/purchase_data.csv"

#Read Purchasing File and store into pandas data frame
purchase = pd.read_csv(path)

In [5]:
purchase_df = pd.DataFrame(purchase)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [11]:
Total_Players = len(purchase["SN"].value_counts())

# Create a data frame
Total_Count = pd.DataFrame({"Total Players":[Total_Players]})
Total_Count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [34]:
Unique_Items = purchase["Item ID"].nunique() # nunique gives the total no of unique items
Unique_Items

179

In [21]:
Average_Price =purchase["Price"].mean() #Mean helps to find Average  and round helps to round the number after decimal
round(Average_Price,2)

3.05

In [37]:
Total_purchases_count = purchase["Purchase ID"].count() #count is used for counting total item
Total_purchases_count

780

In [31]:
Total_Revenue = purchase["Price"].sum()
Total_Revenue

2379.77

In [39]:
Summary_df = pd.DataFrame({"Number of Unique Items":[Unique_Items],
                           "Average Price":[Average_Price], 
                           "Number of Purchases": [Total_purchases_count], 
                           "Total Revenue": [Total_Revenue]})
# Format
Summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
Count_Gender_Of_Players = purchase_rename_df.groupby("Gender")["Player"].nunique()
Count_Gender_Of_Players


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame