In [1]:
# Importing panda
import pandas as pd 

# storing csv file path in variable
path = "Resources/purchase_data.csv"

#Read Purchasing File and store into pandas data frame
purchase = pd.read_csv(path)

In [2]:
purchase_df = pd.DataFrame(purchase)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#Counting the total no of players and adding it in to data frame

Total_Players = len(purchase["SN"].value_counts())

Total_Count = pd.DataFrame({"Total Players":[Total_Players]})
Total_Count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
Unique_Items = purchase["Item ID"].nunique() # nunique gives the total no of unique items

In [5]:
Average_Price = round(purchase["Price"].mean(),2) #Mean helps to find Average  and round helps to round the number after decimal

In [6]:
Total_purchases_count = purchase["Purchase ID"].count() #count is used for counting total item

In [7]:
Total_Revenue = purchase["Price"].sum()

In [8]:
Summary_df = pd.DataFrame({"Number of Unique Items":[Unique_Items],
                           "Average Price":[Average_Price], 
                           "Number of Purchases": [Total_purchases_count], 
                           "Total Revenue": [Total_Revenue]})

Summary_df.style.format({'Average Price':"${:,.2f}",
                        'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
Count_by_Gender = purchase_df.groupby("Gender")["SN"].nunique()

In [10]:
Percent_by_gender = ((Count_by_Gender  * 100)/  Total_Players)

In [11]:
Gender_demographics = pd.DataFrame({"Total Count": Count_by_Gender,"Percentage of Players": Percent_by_gender})
Gender_demographics.sort_values(["Percentage of Players"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
Count_purchase_by_gender = purchase_df.groupby("Gender")["Purchase ID"].nunique()

In [13]:
Avg_Purchase_Price = purchase_df.groupby("Gender")["Price"].mean().round(2)

In [14]:
Total_Purchase_Value = purchase_df.groupby("Gender")["Price"].sum()

In [15]:
Avg_Total_Purchase_Person = Total_Purchase_Value / Count_by_Gender

In [16]:
Purchasing_Analysis_by_Gender = pd.DataFrame({"Purchase Count": Count_purchase_by_gender, 
                                    "Average Purchase Price": Avg_Purchase_Price,
                                    "Total Purchase Value":Total_Purchase_Value,
                                    "Avg Total Purchase per Person": Avg_Total_Purchase_Person})
# Assign Gender at the top let of the corner
Purchasing_Analysis_by_Gender.index.name = "Gender"


Purchasing_Analysis_by_Gender.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                 "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [17]:
bins=[0,9,14,19,24,29,34,39,999]
Range=['<10','10 - 14','15 - 19','20 - 24','25 - 29','30 - 34','35 - 39','40+']

In [18]:
Bins_data =purchase_df.groupby (pd.cut(purchase_df['Age'], bins=bins,labels=Range)).nunique()
Percentage_age=(Bins_data['SN']/Total_Players)*100

In [19]:
Age_Demographics = pd.DataFrame({"Total Count": Bins_data["SN"], 
                                    "Percentage of Players": Percentage_age,
                                   })
Age_Demographics.style.format({"Percentage of Players":"{:,.2f}"+"%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
Count_by_Age = Bins_data ["Purchase ID"]

In [21]:
Average_Purchase_Price_by_Age =purchase_df.groupby (pd.cut(purchase_df['Age'], bins=bins, labels=Range)).mean()

In [22]:
Total_Purchase_Price_by_Age =purchase_df.groupby (pd.cut(purchase_df['Age'], bins=bins, labels=Range)).sum()

In [23]:
Avg_Total_Purchase_Person_by_Age = Total_Purchase_Price_by_Age["Price"] / Bins_data["SN"]

In [24]:
Purchasing_Analysis_by_Age = pd.DataFrame({"Purchase Count": Count_by_Age, 
                                           "Average Purchase Price": Average_Purchase_Price_by_Age['Price'],
                                           "Total Purchase Value": Total_Purchase_Price_by_Age["Price"],
                                           "Avg Total Purchase per Person": Avg_Total_Purchase_Person_by_Age
                                   })
Purchasing_Analysis_by_Age.style.format({"Average Purchase Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}", "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
Purchase_Count_Spender = purchase_df.groupby("SN")["Purchase ID"].count()

In [26]:
Average_Purchase_Price_Spender = purchase_df.groupby("SN")["Price"].mean()

In [27]:
Total_Purchase_Value_Spender = purchase_df.groupby("SN")["Price"].sum()

In [28]:
Top_Spenders = pd.DataFrame({"Purchase Count": Purchase_Count_Spender,
                             "Average Purchase Price": Average_Purchase_Price_Spender,
                             "Total Purchase Value": Total_Purchase_Value_Spender})

Top_Spenders_Formatted = Top_Spenders.sort_values(["Total Purchase Value"], ascending=False).head()

Top_Spenders_Formatted.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
Purchase_Count_byID_Name = purchase_df.groupby(["Item ID","Item Name"])["Purchase ID"].count()

In [30]:
Item_Price_byID_Name = purchase_df.groupby(["Item ID","Item Name"])["Price"].mean()

In [31]:
Total_Purchase_Value_byID_Name = purchase_df.groupby(["Item ID","Item Name"])["Price"].sum()

In [32]:
MPopular_Items = pd.DataFrame({"Purchase Count": Purchase_Count_byID_Name,
                             "Item Price": Item_Price_byID_Name,
                             "Total Purchase Value": Total_Purchase_Value_byID_Name})

MPopular_Items_Formatted = MPopular_Items.sort_values(["Purchase Count"], ascending=False).head()

MPopular_Items_Formatted.style.format({"Item Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
MProfitable_Items = pd.DataFrame({"Purchase Count": Purchase_Count_byID_Name,
                             "Item Price": Item_Price_byID_Name,
                             "Total Purchase Value": Total_Purchase_Value_byID_Name})
 
MProfitable_Items_Formatted = MProfitable_Items.sort_values(["Total Purchase Value"], ascending=False).head()

MProfitable_Items_Formatted.style.format({"Item Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}"})